# 项目相关配置
ruoyi:
    profile: E:/lims/lims-java/uploadPath
# 数据源配置
jasypt:
    encryptor:
        # 指定加密算法 (必须与生成密文时使用的算法一致)
        algorithm: PBEWithMD5AndDES
        # 指定 IV 生成器 (通常是 RandomIvGenerator)
        iv-generator-classname: org.jasypt.iv.RandomIvGenerator
spring:
    datasource:
        type: com.alibaba.druid.pool.DruidDataSource
        driverClassName: com.mysql.cj.jdbc.Driver
        druid:
            # 主库数据源
            master:
                url: jdbc:mysql://127.0.0.1:3306/gmlimsqi?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8
                username: root
                password: ENC(ONj/9yG+g+FMYSyDpD8Y7FxuUIDOvWTVetMCsd3eTLft4KdM2XtiGg==)
                #password: egp.!$!S
            # 从库数据源
            slave:
                # 从数据源开关/默认关闭
                enabled: false
                url: 
                username: 
                password: 
            # 初始连接数
            initialSize: 5
            # 最小连接池数量
            minIdle: 10
            # 最大连接池数量
            maxActive: 20
            # 配置获取连接等待超时的时间
            maxWait: 60000
            # 配置连接超时时间
            connectTimeout: 30000
            # 配置网络超时时间
            socketTimeout: 60000
            # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
            timeBetweenEvictionRunsMillis: 60000
            # 配置一个连接在池中最小生存的时间，单位是毫秒
            minEvictableIdleTimeMillis: 300000
            # 配置一个连接在池中最大生存的时间，单位是毫秒
            maxEvictableIdleTimeMillis: 900000
            # 配置检测连接是否有效
            validationQuery: SELECT 1 FROM DUAL
            testWhileIdle: true
            testOnBorrow: false
            testOnReturn: false
            webStatFilter: 
                enabled: true
            statViewServlet:
                enabled: true
                # 设置白名单，不填则允许所有访问
                allow:
                url-pattern: /druid/*
                # 控制台管理用户名和密码
                login-username: ruoyi
                login-password: 123456
            filter:
                stat:
                    enabled: true
                    # 慢SQL记录
                    log-slow-sql: true
                    slow-sql-millis: 1000
                    merge-sql: true
                wall:
                    config:
                        multi-statement-allow: true
                        # redis 配置
    redis:
        # 地址
        host: 127.0.0.1
        # 端口
        port: 6378
        # 数据库索引
        database: 8
        # 密码
        password: $Egp.!
        # 连接超时时间
        timeout: 10s
        lettuce:
            pool:
                # 连接池中的最小空闲连接
                min-idle: 0
                # 连接池中的最大空闲连接
                max-idle: 8
                # 连接池的最大数据库连接数
                max-active: 8
                # #连接池最大阻塞等待时间（使用负值表示没有限制）
                max-wait: -1ms

ding:
    appKey: dingyw2z4qrznfpfpnpm
    appSecret: pvF6cRyiLH71oibJuZwPgdNZ26UJLzDH_5PS_uX003l-tYpH7aO1KCCOr2g4WSiU
    suiteKey: dingyw2z4qrznfpfpnpm
    suiteSecret: pvF6cRyiLH71oibJuZwPgdNZ26UJLzDH_5PS_uX003l-tYpH7aO1KCCOr2g4WSiU
    token:
    encodingAesKey:
    authCorpid:
    #  可以使用mobile或job_number
    userNameField: mobile
dingtalk:
    prefix: dingTalk_token_prod
    token-timeout: 6000
    agent-id: 4106977201
    app-id: e52cec31-033d-4f7e-b442-4eb972d5b9ef
    app-key: dingyw2z4qrznfpfpnpm
    app-secret: pvF6cRyiLH71oibJuZwPgdNZ26UJLzDH_5PS_uX003l-tYpH7aO1KCCOr2g4WSiU
    crop-id: dingc54682076c69f0f2bc961a6cb783455b