# 项目相关配置
ruoyi:
    profile: D:/ruoyi/uploadPath
# 数据源配置
spring:
    datasource:
        type: com.alibaba.druid.pool.DruidDataSource
        driverClassName: com.mysql.cj.jdbc.Driver
        druid:
            # 主库数据源
            master:
                url: jdbc:mysql://116.204.121.45:24309/gmlimsqi?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8
                username: root
                #password: n%lGhOtu0VanJRax
                password: egp.666999
            # 从库数据源
            slave:
                # 从数据源开关/默认关闭
                enabled: false
                url: 
                username: 
                password: 
            # 初始连接数
            initialSize: 5
            # 最小连接池数量
            minIdle: 10
            # 最大连接池数量
            maxActive: 20
            # 配置获取连接等待超时的时间
            maxWait: 60000
            # 配置连接超时时间
            connectTimeout: 30000
            # 配置网络超时时间
            socketTimeout: 60000
            # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
            timeBetweenEvictionRunsMillis: 60000
            # 配置一个连接在池中最小生存的时间，单位是毫秒
            minEvictableIdleTimeMillis: 300000
            # 配置一个连接在池中最大生存的时间，单位是毫秒
            maxEvictableIdleTimeMillis: 900000
            # 配置检测连接是否有效
            validationQuery: SELECT 1 FROM DUAL
            testWhileIdle: true
            testOnBorrow: false
            testOnReturn: false
            webStatFilter: 
                enabled: true
            statViewServlet:
                enabled: true
                # 设置白名单，不填则允许所有访问
                allow:
                url-pattern: /druid/*
                # 控制台管理用户名和密码
                login-username: ruoyi
                login-password: 123456
            filter:
                stat:
                    enabled: true
                    # 慢SQL记录
                    log-slow-sql: true
                    slow-sql-millis: 1000
                    merge-sql: true
                wall:
                    config:
                        multi-statement-allow: true
                        # redis 配置
    redis:
        # 地址
        host: 127.0.0.1
        # 端口，默认为6379
        port: 6379
#        port: 26390
        # 数据库索引
#        database: 6
        database: 0
        # 密码
#        password: Egp@Redis!666
        password:
        # 连接超时时间
        timeout: 10s
        lettuce:
            pool:
                # 连接池中的最小空闲连接
                min-idle: 0
                # 连接池中的最大空闲连接
                max-idle: 8
                # 连接池的最大数据库连接数
                max-active: 8
                # #连接池最大阻塞等待时间（使用负值表示没有限制）
                max-wait: -1ms

ding:
    appKey: ding6ooztkvo47n6bxfd
    appSecret: 3vQ2_DkWeaGMXgVZoomxosT09TToe_JCyD58m3q0I-6x7O6CodXRa9FSgO86xrSf
    suiteKey: ding6ooztkvo47n6bxfd
    suiteSecret: 3vQ2_DkWeaGMXgVZoomxosT09TToe_JCyD58m3q0I-6x7O6CodXRa9FSgO86xrSf
    token:
    encodingAesKey:
    authCorpid:
    #  可以使用mobile或job_number
    userNameField: mobile
dingtalk:
    prefix: dingTalk_token_prod
    token-timeout: 6000
    agent-id: 3936915832
    app-id: 763ce4ee-649a-4a8f-9579-fcf43c7e9bcd
    app-key: ding6ooztkvo47n6bxfd
    app-secret: 3vQ2_DkWeaGMXgVZoomxosT09TToe_JCyD58m3q0I-6x7O6CodXRa9FSgO86xrSf
    crop-id: ding2ce60e1031a6c61e24f2f5cc6abecb85