<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmlimsqi.business.labtest.mapper.OpBloodEntrustOrderSampleMapper">
    
    <resultMap type="com.gmlimsqi.business.labtest.domain.OpBloodEntrustOrderSample" id="OpBloodEntrustOrderSampleResult">
        <result property="opBloodEntrustOrderId"    column="op_blood_entrust_order_id"    />
        <result property="opBloodEntrustOrderSampleId"    column="op_blood_entrust_order_sample_id"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="sampleName"    column="sample_name"    />
        <result property="sampleType"    column="sample_type"    />
        <result property="remark"    column="remark"    />
        <result property="isReceive"    column="is_receive"    />
        <result property="receiveTime"    column="receive_time"    />
        <result property="receiverId"    column="receiver_id"    />
        <result property="receiverName"    column="receiver_name"    />
        <result property="sampleNo"    column="sample_no"    />
        <result property="sequence"    column="sequence"    />
        <result property="pzts"    column="pzts"    />
        <result property="bloodTaskItemType"    column="blood_task_item_type"    />
        <result property="testResult"    column="test_result"    />
        <result property="testTime"    column="test_time"    />
        <result property="testUser"    column="test_user"    />
        <result property="testUserId"    column="test_user_id"    />
        <result property="examineUser"    column="examine_user"    />
        <result property="examineUserId"    column="examine_user_id"    />
        <result property="examineTime"    column="examine_time"    />
        <result property="examineNote"    column="examine_note"    />
        <result property="gh"    column="gh"    />
        <result property="sp"    column="sp"    />
        <result property="od"    column="od"    />
        <result property="testRemark"    column="test_remark"    />
        <result property="zaoyunTestResult"    column="zaoyun_test_result"    />
        <result property="fileId"    column="file_id"    />
        <result property="aYpxj"    column="a_ypxj"    />
        <result property="aTestResult"    column="a_test_result"    />
        <result property="oYpxj"    column="o_ypxj"    />
        <result property="oTestResult"    column="o_test_result"    />
        <result property="examinePassFlag"    column="examine_pass_flag"    />
        <result property="entrustDeptName"    column="entrust_dept_name"    />
        <result property="shZdb" column="sh_zdb" />
        <result property="shBdb" column="sh_bdb" />
        <result property="shZg" column="sh_zg" />
        <result property="shLzg" column="sh_lzg" />
        <result property="shMlz" column="sh_mlz" />
        <result property="shWjl" column="sh_wjl" />
        <result property="shNlz" column="sh_nlz" />
        <result property="shJlz" column="sh_jlz" />
        <result property="shLlz" column="sh_llz" />
        <result property="shTlz" column="sh_tlz" />
        <result property="shTielz" column="sh_tielz" />
        <result property="shXlz" column="sh_xlz" />
        <result property="shGysz" column="sh_gysz" />
        <result property="shQds" column="sh_qds" />
        <result property="shFzhx" column="sh_fzhx" />
        <result property="shPpt" column="sh_ppt" />
        <result property="shXynsd" column="sh_xynsd" />
        <result property="shGczam" column="sh_gczam" />
        <result property="shGbzam" column="sh_gbzam" />
        <result property="shJxlsm" column="sh_jxlsm" />
        <result property="importCowNo" column="import_cow_no" />
        <result property="sjph" column="sjph" />
        <result property="aSjph" column="a_sjph" />
        <result property="oSjph" column="o_sjph" />
        <result property="dnh" column="dnh" />
        <result property="bw" column="bw" />
        <result property="sn" column="sn" />
        <result property="pdjg" column="pdjg" />
        <result property="mnh" column="mnh" />
        <result property="reportStatus" column="report_status" />
    </resultMap>
    <!-- 委托单详情结果映射 -->
    <resultMap id="SampleModelMap" type="com.gmlimsqi.business.labtest.bo.OpJczxBloodTestModelBo">
        <result property="entrustOrderId"    column="op_blood_entrust_order_id"    />
        <result property="entrustOrderSampleId"    column="op_blood_entrust_order_sample_id"    />
        <result property="entrustDeptName"    column="entrust_dept_name"    />
        <result property="sampleName" column="sample_name"/>
        <result property="sampleNo" column="sample_no"/>
        <result property="remark"    column="remark"    />
        <result property="sequence"    column="sequence"    />
        <result property="bloodTaskItemType"    column="blood_task_item_type"    />
        <result property="gh" column="gh"/>
        <result property="mnh" column="mnh" />
    </resultMap>
    <sql id="selectOpBloodEntrustOrderSampleVo">
        select  op_blood_entrust_order_id, op_blood_entrust_order_sample_id, is_delete, create_time, create_by,
            update_time, update_by, sample_name, sample_type, remark ,is_receive,receiver_id,receive_time,sample_no,
            sequence,pzts, blood_task_item_type, test_result, test_time, test_user, test_user_id, examine_user,
            examine_user_id, examine_time,sp,gh,file_id,examine_note,a_ypxj,a_test_result,o_ypxj,o_test_result,od,
                test_remark,zaoyun_test_result,sh_zdb ,sh_bdb ,sh_zg ,sh_lzg ,sh_mlz ,sh_wjl ,sh_nlz ,sh_jlz ,sh_llz ,
                sh_tlz ,sh_tielz ,sh_xlz ,sh_gysz  ,sh_qds  ,sh_fzhx  ,sh_ppt  ,sh_xynsd ,sh_gczam  ,sh_gbzam  ,sh_jxlsm,
                sjph,a_sjph,o_sjph,dnh,bw,sn,pdjg,mnh
        from op_blood_entrust_order_sample
    </sql>

    <select id="selectOpBloodEntrustOrderSampleList" parameterType="OpBloodEntrustOrderSample" resultMap="OpBloodEntrustOrderSampleResult">
        select s.*,u.nick_name receiver_name
        from op_blood_entrust_order_sample s
        left join sys_user u on u.user_id=s.receiver_id and u.del_flag='0'
        <where>
            and is_delete = '0'  <!-- 固定添加软删除条件 -->
            <if test="opBloodEntrustOrderSampleId != null  and opBloodEntrustOrderSampleId != ''"> and s.op_blood_entrust_order_sample_id = #{opBloodEntrustOrderSampleId}</if>
            <if test="isDelete != null  and isDelete != ''"> and s.is_delete = #{isDelete}</if>
            <if test="sampleName != null  and sampleName != ''"> and s.sample_name like concat('%', #{sampleName}, '%')</if>
            <if test="receiverName != null  and receiverName != ''"> and u.nick_name like concat('%', #{receiverName}, '%')</if>
            <if test="sampleType != null  and sampleType != ''"> and s.sample_type = #{sampleType}</if>
            <if test="isReceive != null  and isReceive != ''"> and s.is_receive = #{isReceive}</if>
            <if test="sampleNo != null "> and s.sample_no = #{sampleNo}</if>
            <if test="sequence != null  and sequence != ''"> and sequence = #{sequence}</if>
            <if test="pzts != null  and pzts != ''"> and pzts = #{pzts}</if>
            <if test="opBloodEntrustOrderId != null  and opBloodEntrustOrderId != ''"> and op_blood_entrust_order_id = #{opBloodEntrustOrderId}</if>
        </where>
        order by s.sequence asc
    </select>
    
    <select id="selectOpBloodEntrustOrderSampleByOpBloodEntrustOrderId" parameterType="String" resultMap="OpBloodEntrustOrderSampleResult">
        <include refid="selectOpBloodEntrustOrderSampleVo"/>
        where op_blood_entrust_order_id = #{opBloodEntrustOrderId}
    </select>

    <insert id="insertOpBloodEntrustOrderSample" parameterType="OpBloodEntrustOrderSample">
        insert into op_blood_entrust_order_sample
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="opBloodEntrustOrderId != null">op_blood_entrust_order_id,</if>
            <if test="opBloodEntrustOrderSampleId != null and opBloodEntrustOrderSampleId != ''">op_blood_entrust_order_sample_id,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="sampleName != null">sample_name,</if>
            <if test="sampleType != null">sample_type,</if>
            <if test="remark != null">remark,</if>
            <if test="receiverId != null">receiver_id,</if>
            <if test="receiveTime != null">receive_time,</if>
            <if test="sampleNo != null">sample_no,</if>
            <if test="bloodTaskItemType != null">blood_task_item_type,</if>
            <if test="sequence != null">sequence,</if>
            <if test="pzts != null">pzts,</if>
            <if test="gh != null">gh,</if>
            <if test="sp != null">sp,</if>
            <if test="fileId != null">file_id,</if>
            <if test="od != null">od,</if>
            <if test="testRemark != null">test_remark,</if>
            <if test="zaoyunTestResult != null">zaoyun_test_result,</if>
            <if test="examineNote != null">examine_note,</if>
            <if test="examineUser != null">examine_user,</if>
            <if test="examineUserId != null">examine_user_id,</if>
            <if test="examineTime != null">examine_time,</if>
            <if test="sjph != null">sjph,</if>
            <if test="aSjph != null">a_sjph,</if>
            <if test="oSjph != null">o_sjph,</if>
            <if test="dnh != null">dnh,</if>
            <if test="bw != null">bw,</if>
            <if test="sn != null">sn,</if>
            <if test="pdjg != null">pdjg,</if>
            <if test="mnh != null">mnh,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="opBloodEntrustOrderId != null">#{opBloodEntrustOrderId},</if>
            <if test="opBloodEntrustOrderSampleId != null and opBloodEntrustOrderSampleId != ''">#{opBloodEntrustOrderSampleId},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="sampleName != null">#{sampleName},</if>
            <if test="sampleType != null">#{sampleType},</if>
            <if test="remark != null">#{remark},</if>
            <if test="receiverId != null">#{receiverId},</if>
            <if test="receiveTime != null">#{receiveTime},</if>
            <if test="sampleNo != null">#{sampleNo},</if>
            <if test="bloodTaskItemType != null">#{bloodTaskItemType},</if>
            <if test="sequence != null">#{sequence},</if>
            <if test="pzts != null">#{pzts},</if>
            <if test="gh != null">#{gh},</if>
            <if test="sp != null">#{sp},</if>
            <if test="fileId != null">#{fileId},</if>
            <if test="od != null">#{od},</if>
            <if test="testRemark != null">#{testRemark},</if>
            <if test="zaoyunTestResult != null">#{zaoyunTestResult},</if>
            <if test="examineNote != null">#{examineNote},</if>
            <if test="examineUser != null">#{examineUser},</if>
            <if test="examineUserId != null">#{examineUserId},</if>
            <if test="examineTime != null">#{examineTime},</if>
            <if test="sjph != null">#{sjph},</if>
            <if test="aSjph != null">#{aSjph},</if>
            <if test="oSjph != null">#{oSjph},</if>
            <if test="dnh != null">#{dnh},</if>
            <if test="bw != null">#{bw},</if>
            <if test="sn != null">#{sn},</if>
            <if test="pdjg != null">#{pdjg},</if>
            <if test="mnh != null">#{mnh},</if>
         </trim>
    </insert>

    <update id="updateOpBloodEntrustOrderSample" parameterType="OpBloodEntrustOrderSample">
        update op_blood_entrust_order_sample
        <trim prefix="SET" suffixOverrides=",">
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="sampleName != null">sample_name = #{sampleName},</if>
            <if test="sampleType != null">sample_type = #{sampleType},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isReceive != null">is_receive = #{isReceive},</if>
            <if test="receiverId != null">receiver_id = #{receiverId},</if>
            <if test="receiveTime != null">receive_time = #{receiveTime},</if>
            <if test="sampleNo != null">sample_no = #{sampleNo},</if>
            <if test="sequence != null">sequence = #{sequence},</if>
            <if test="pzts != null">pzts = #{pzts},</if>
            <if test="gh != null">gh = #{gh},</if>
            <if test="sp != null">sp = #{sp},</if>
            <if test="fileId != null">file_id = #{fileId},</if>
            <if test="examineNote != null">examine_note = #{examineNote},</if>
            <if test="examineUser != null">examine_user = #{examineUser},</if>
            <if test="examineUserId != null">examine_user_id = #{examineUserId},</if>
            <if test="examineTime != null">examine_time = #{examineTime},</if>
            <if test="testUser != null">test_user = #{testUser},</if>
            <if test="testTime != null">test_time = #{testTime},</if>
            <if test="testUserId != null">test_user_id = #{testUserId},</if>
            <if test="bloodTaskItemType != null">blood_task_item_type = #{bloodTaskItemType},</if>
            <if test="aYpxj != null">a_ypxj = #{aYpxj},</if>
            <if test="aTestResult != null">a_test_result = #{aTestResult},</if>
            <if test="oYpxj != null">o_ypxj = #{oYpxj},</if>
            <if test="oTestResult != null">o_test_result = #{oTestResult},</if>
            <if test="od != null">od = #{od},</if>
            <if test="testRemark != null">test_remark = #{testRemark},</if>
            <if test="zaoyunTestResult != null">zaoyun_test_result = #{zaoyunTestResult},</if>
            <if test="shZdb != null">sh_zdb = #{shZdb},</if>
            <if test="shBdb != null">sh_bdb = #{shBdb},</if>
            <if test="shZg != null">sh_zg = #{shZg},</if>
            <if test="shLzg != null">sh_lzg = #{shLzg},</if>
            <if test="shMlz != null">sh_mlz = #{shMlz},</if>
            <if test="shWjl != null">sh_wjl = #{shWjl},</if>
            <if test="shNlz != null">sh_nlz = #{shNlz},</if>
            <if test="shJlz != null">sh_jlz = #{shJlz},</if>
            <if test="shLlz != null">sh_llz = #{shLlz},</if>
            <if test="shTlz != null">sh_tlz = #{shTlz},</if>
            <if test="shTielz != null">sh_tielz = #{shTielz},</if>
            <if test="shXlz != null">sh_xlz = #{shXlz},</if>
            <if test="shGysz != null">sh_gysz = #{shGysz},</if>
            <if test="shQds != null">sh_qds = #{shQds},</if>
            <if test="shFzhx != null">sh_fzhx = #{shFzhx},</if>
            <if test="shPpt != null">sh_ppt = #{shPpt},</if>
            <if test="shXynsd != null">sh_xynsd = #{shXynsd},</if>
            <if test="shGczam != null">sh_gczam = #{shGczam},</if>
            <if test="shGbzam != null">sh_gbzam = #{shGbzam},</if>
            <if test="shJxlsm != null">sh_jxlsm = #{shJxlsm},</if>
            <if test="sjph != null">sjph = #{sjph},</if>
            <if test="aSjph != null">a_sjph = #{aSjph},</if>
            <if test="oSjph != null">o_sjph = #{oSjph},</if>
            <if test="dnh != null">dnh = #{dnh},</if>
            <if test="bw != null">bw = #{bw},</if>
            <if test="sn != null">sn = #{sn},</if>
            <if test="pdjg != null">pdjg = #{pdjg},</if>
            <if test="mnh != null">mnh = #{mnh},</if>
        </trim>
        where op_blood_entrust_order_sample_id = #{opBloodEntrustOrderSampleId}
    </update>



    <update id="updateDeleteFlagById" >
        update op_blood_entrust_order_sample set is_delete=1 ,update_time=now(),
                                                 update_by=#{updateUserId} where op_blood_entrust_order_sample_id = #{opBloodEntrustOrderSampleId}
    </update>



    <select id="selectAllByOpBloodEntrustOrderId"
        parameterType="String" resultMap="OpBloodEntrustOrderSampleResult">
        <include refid="selectOpBloodEntrustOrderSampleVo"/>
        where op_blood_entrust_order_id = #{opBloodEntrustOrderId}
        and is_delete = '0'  <!-- 固定添加软删除条件 -->
        order by sequence asc
    </select>

    <update id="updateDeleteFlagByOrderSample">
        update op_blood_entrust_order_sample set is_delete=1 ,update_time=#{now,jdbcType=TIMESTAMP},update_by=#{updateUserId} where op_blood_entrust_order_id = #{id}
    </update>

    <update id="updateDeleteById" >
        update op_blood_entrust_order_sample set is_delete=1 ,update_time=now(),update_by=#{updateBy}
        where op_blood_entrust_order_sample_id = #{opBloodEntrustOrderSampleId}
    </update>

    <update id="updateReceiveById" >
        update op_blood_entrust_order_sample set is_receive=1 ,receive_time=now(),receiver_id=#{receiverId}
        where op_blood_entrust_order_sample_id = #{opBloodEntrustOrderSampleId}
    </update>

    <select id="selectOrderIdById" parameterType="String" resultType="String">
        select op_blood_entrust_order_id
        from    op_blood_entrust_order_sample
        where op_blood_entrust_order_sample_id = #{opBloodEntrustOrderSampleId}
    </select>


    <select id="selectById" parameterType="String" resultMap="OpBloodEntrustOrderSampleResult">
        select *
        from    op_blood_entrust_order_sample
        where op_blood_entrust_order_sample_id = #{opBloodEntrustOrderSampleId}
    </select>

    <select id="selectSampleModelByIdList"  resultMap="SampleModelMap" parameterType="java.util.List">
        SELECT
        opeos.op_blood_entrust_order_id,
        opeos.op_blood_entrust_order_sample_id,
        opeos.remark,
        opeos.blood_task_item_type,
        opbeo.entrust_order_no,
        opbeo.entrust_dept_name,
        opeos.sample_name,
        opeos.sample_no,
        opeos.gh,
        opeos.sequence,
        opeos.mnh
        FROM op_blood_entrust_order opbeo
        LEFT JOIN op_blood_entrust_order_sample opeos
        ON opbeo.op_blood_entrust_order_id = opeos.op_blood_entrust_order_id and opeos.is_delete = '0'
        WHERE opbeo.delete_id = '0' and
        opeos.op_blood_entrust_order_id in
        <foreach collection="entrustOrderIdList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by opeos.sequence
    </select>

    <select id="selectBySampleNo" parameterType="String" resultMap="OpBloodEntrustOrderSampleResult">
        select * from op_blood_entrust_order_sample where sample_no=#{sampleNo} and is_delete='0'
    </select>

    <update id="updateResultBySampleNo">
        update op_blood_entrust_order_sample
        <trim prefix="SET" suffixOverrides=",">
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="sequence != null">sequence = #{sequence},</if>
            <if test="sp != null">sp = #{sp},</if>
            <if test="fileId != null">file_id = #{fileId},</if>
            <if test="examineNote != null">examine_note = #{examineNote},</if>
            <if test="examineUser != null">examine_user = #{examineUser},</if>
            <if test="examineUserId != null">examine_user_id = #{examineUserId},</if>
            <if test="examineTime != null">examine_time = #{examineTime},</if>
            <if test="testUser != null">test_user = #{testUser},</if>
            <if test="testTime != null">test_time = #{testTime},</if>
            <if test="testUserId != null">test_user_id = #{testUserId},</if>
            <if test="testResult != null">test_result = #{testResult},</if>
            <if test="aYpxj != null">a_ypxj = #{aYpxj},</if>
            <if test="aTestResult != null">a_test_result = #{aTestResult},</if>
            <if test="oYpxj != null">o_ypxj = #{oYpxj},</if>
            <if test="oTestResult != null">o_test_result = #{oTestResult},</if>
            <if test="od != null">od = #{od},</if>
            <if test="testRemark != null">test_remark = #{testRemark},</if>
            <if test="zaoyunTestResult != null">zaoyun_test_result = #{zaoyunTestResult},</if>
            <if test="shZdb != null">sh_zdb = #{shZdb},</if>
            <if test="shBdb != null">sh_bdb = #{shBdb},</if>
            <if test="shZg != null">sh_zg = #{shZg},</if>
            <if test="shLzg != null">sh_lzg = #{shLzg},</if>
            <if test="shMlz != null">sh_mlz = #{shMlz},</if>
            <if test="shWjl != null">sh_wjl = #{shWjl},</if>
            <if test="shNlz != null">sh_nlz = #{shNlz},</if>
            <if test="shJlz != null">sh_jlz = #{shJlz},</if>
            <if test="shLlz != null">sh_llz = #{shLlz},</if>
            <if test="shTlz != null">sh_tlz = #{shTlz},</if>
            <if test="shTielz != null">sh_tielz = #{shTielz},</if>
            <if test="shXlz != null">sh_xlz = #{shXlz},</if>
            <if test="shGysz != null">sh_gysz = #{shGysz},</if>
            <if test="shQds != null">sh_qds = #{shQds},</if>
            <if test="shFzhx != null">sh_fzhx = #{shFzhx},</if>
            <if test="shPpt != null">sh_ppt = #{shPpt},</if>
            <if test="shXynsd != null">sh_xynsd = #{shXynsd},</if>
            <if test="shGczam != null">sh_gczam = #{shGczam},</if>
            <if test="shGbzam != null">sh_gbzam = #{shGbzam},</if>
            <if test="shJxlsm != null">sh_jxlsm = #{shJxlsm},</if>
            <if test="sjph != null">sjph = #{sjph},</if>
            <if test="aSjph != null">a_sjph = #{aSjph},</if>
            <if test="oSjph != null">o_sjph = #{oSjph},</if>
            <if test="dnh != null">dnh = #{dnh},</if>
            <if test="bw != null">bw = #{bw},</if>
            <if test="sn != null">sn = #{sn},</if>
            <if test="pdjg != null">pdjg = #{pdjg},</if>
        </trim>
        where  sample_no=#{sampleNo} and is_delete='0'
    </update>

    <select id="countUntestedSamplesByOrderId" parameterType="String" resultType="Integer">
        SELECT
            COUNT(*)
        FROM
            op_blood_entrust_order_sample T1
        WHERE
            T1.is_delete = '0' and T1.op_blood_entrust_order_id=#{orderId}
          AND T1.test_user_id IS NULL;
    </select>

    <select id="getBaseByResultNo" parameterType="String" resultMap="OpBloodEntrustOrderSampleResult">
        select
            i.op_jczx_blood_result_info_id, i.base_id, i.dept_name as entrust_dept_name, i.sample_name, i.sample_no, i.blood_entrust_order_sample_id as op_blood_entrust_order_sample_id,
            i.item_id, i.blood_entrust_order_item_id,i.item_name, i.test_result, i.sequence, i.remark, i.create_time, i.create_by,
            i.update_time, i.update_by, i.delete_id ,i.sp,i.gh,i.file_id,i.a_ypxj,i.a_test_result,i.o_ypxj,i.o_test_result,i.examine_note,b.examine_pass_flag,i.od,
            i.zaoyun_test_result,i.test_remark,i.sh_zdb,i.sh_bdb,i.sh_zg,i.sh_lzg,i.sh_mlz,i.sh_wjl,i.sh_nlz,i.sh_jlz,
            i.sh_llz,i.sh_tlz,i.sh_tielz,i.sh_xlz,i.sh_gysz,i.sh_qds,i.sh_fzhx,i.sh_ppt,i.sh_xynsd,i.sh_gczam,i.sh_gbzam,
            i.sh_jxlsm,i.import_cow_no,i.sjph,i.o_sjph,i.a_sjph,i.dnh,i.bw,i.sn,i.pdjg,i.mnh,report.status as report_status
        FROM
            op_jczx_blood_result_info i
                LEFT JOIN op_jczx_blood_result_base b ON i.base_id = b.op_jczx_blood_result_base_id AND b.delete_id = '0'
                LEFT JOIN op_blood_entrust_order_sample sample ON i.sample_no = sample.sample_no and sample.is_delete='0'
                LEFT JOIN op_jczx_blood_report_base report
                          ON sample.op_blood_entrust_order_id = report.blood_entrust_order_id
                              AND report.delete_id = '0'
                              AND report.status != '6'
        WHERE
            i.delete_id = '0'
          AND b.result_no=#{resultNo}
        ORDER BY
            i.sequence asc
    </select>

    <select id="selectExaminCountByIdList" parameterType="java.util.List" resultType="Integer">
        select count(*) from op_blood_entrust_order_sample where
        op_blood_entrust_order_sample.op_blood_entrust_order_sample_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and examine_user_id is not null
    </select>
    <select id="countUnexaminedItemsByOrderId" parameterType="String" resultType="Integer">
        SELECT COUNT(1)
        FROM op_blood_entrust_order_sample T1
        WHERE T1.op_blood_entrust_order_id = #{orderId}
          AND T1.is_delete = '0'
          AND T1.examine_user_id IS NULL
    </select>


    <update id="batchUpdateExamineFields">
        UPDATE op_blood_entrust_order_sample
        SET examine_user_id = #{examineUserId},
        examine_note = null,
        examine_user = #{examineUser},
        examine_time = #{examineTime,jdbcType=TIMESTAMP},
        update_time = NOW(),
        update_by = #{examineUserId}
        WHERE op_blood_entrust_order_sample_id IN
        <foreach item="id" collection="passedIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND is_delete = '0'
    </update>
    <update id="updateExamineNoteById" parameterType="OpBloodEntrustOrderItem">
        UPDATE op_blood_entrust_order_sample
        SET examine_note = #{examineNote},
            update_time = NOW(),
            update_by = #{updateBy}
        WHERE op_blood_entrust_order_sample_id = #{opBloodEntrustOrderSampleId}
          AND is_delete = '0'
    </update>

    <update id="batchClearExamineFields">
        UPDATE op_blood_entrust_order_sample
        SET examine_user_id = NULL,
        examine_user = NULL,
        examine_time = NULL,
        examine_note = null,
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        update_by = #{updateUserId}
        WHERE op_blood_entrust_order_sample.op_blood_entrust_order_sample_id IN
        <foreach item="id" collection="sampleIdList" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND is_delete = '0'
    </update>


    <update id="updateExamineNoteBySampleNo">
        update op_blood_entrust_order_sample set examine_note=#{examineNote}
        where sample_no =#{sampleNo} and is_delete='0'
    </update>



    <select id="selectSampleModelByResultNo"  resultMap="SampleModelMap" parameterType="java.util.List">
        SELECT
        opeos.op_blood_entrust_order_sample_id,
        opeos.remark,
        opeos.blood_task_item_type,
        opbeo.entrust_order_no,
        opbeo.entrust_dept_name,
        opeos.sample_name,
        opeos.sample_no,
        opeos.gh,
        opeos.sequence,
        i.sequence as info_sequence,
        opeos.mnh
        FROM op_blood_entrust_order opbeo
        LEFT JOIN op_blood_entrust_order_sample opeos
        ON opbeo.op_blood_entrust_order_id = opeos.op_blood_entrust_order_id and opeos.is_delete = '0'
        INNER JOIN op_jczx_blood_result_info i ON opeos.op_blood_entrust_order_sample_id = i.blood_entrust_order_sample_id AND i.delete_id = '0'
        INNER JOIN op_jczx_blood_result_base b ON i.base_id = b.op_jczx_blood_result_base_id AND b.delete_id = '0'

        WHERE opbeo.delete_id = '0'

        AND b.result_no=#{resultNo}

        ORDER BY CAST(i.sequence AS SIGNED) ASC
    </select>

    <select id="selectDeletedSamplesByOrderId" parameterType="String" resultMap="OpBloodEntrustOrderSampleResult">
        <include refid="selectOpBloodEntrustOrderSampleVo"/>
        where op_blood_entrust_order_id = #{orderId}
        and is_delete = '1'
        order by sequence asc
    </select>

    <select id="selectExamineBySampleNoList" parameterType="java.util.List" resultMap="OpBloodEntrustOrderSampleResult">
        select
        s.*
        from op_blood_entrust_order_sample s
        where s.sample_no in
        <foreach collection="sampleNoList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and s.is_delete = '0'
        and s.examine_user is not null
    </select>
</mapper>