<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmlimsqi.business.milkbinqualityinspection.mapper.OpMilkSourcePlanMonitorMapper">

    <resultMap id="OpMilkSourcePlanVOResult" type="com.gmlimsqi.business.milkbinqualityinspection.domain.OpMilkSourcePlanVO">
        <result property="milkSourcePlanOrderNumber" column="milkSourcePlanOrderNumber"/>
        <result property="licensePlateNumber" column="licensePlateNumber"/>
        <result property="driverName" column="driverName"/>
        <result property="schedulingDate" column="schedulingDate"/>
        <result property="createTime" column="createTime"/>
        <association property="opInspectionMilkTankers" javaType="com.gmlimsqi.business.inspectionmilktankers.domain.OpInspectionMilkTankers">
            <id property="inspectionMilkTankersId" column="a_inspection_milk_tankers_id"/>
            <result property="status" column="a_status"/>
            <result property="milkSourcePlanOrderNumber" column="a_milk_source_plan_order_number"/>
            <result property="licensePlateNumber" column="a_license_plate_number"/>
            <result property="entryTime" column="a_entry_time"/>
        </association>
        <association property="opMilkFillingOrder" javaType="com.gmlimsqi.business.milkfillingorder.domain.OpMilkFillingOrder">
            <id property="opMilkFillingOrderId" column="b_op_milk_filling_order_id"/>
            <result property="milkFillingOrderNumber" column="b_milk_filling_order_number"/>
            <result property="status" column="b_status"/>
            <result property="firstMilkingTime" column="b_first_milking_time"/>
            <result property="totalMilkCapacity" column="b_total_milk_capacity"/>
            <result property="milkFillingTime" column="b_milk_filling_time"/>
            <result property="cweightno" column="b_cweightno"/>
            <result property="isAssociatedWeighbridge" column="b_is_associated_weighbridge"/>
            <result property="weighbridgeBillQuantity" column="b_weighbridge_bill_quantity"/>
        </association>
        <association property="opLeadSealSheet" javaType="com.gmlimsqi.business.leadsealsheet.domain.OpLeadSealSheet">
            <id property="opLeadSealSheetId" column="c_op_lead_seal_sheet_id"/>
            <result property="leadSealNumber" column="c_lead_seal_number"/>
            <result property="status" column="c_status"/>
            <result property="sealedMan" column="c_sealed_man"/>
            <result property="sealedPhoto" column="c_sealed_photo"/>
            <result property="qfNumber" column="c_qf_number"/>
        </association>
        <association property="opMilkSampleQualityInspection" javaType="com.gmlimsqi.business.milksamplequalityinspection.domain.OpMilkSampleQualityInspection">
            <id property="opMilkSampleQualityInspectionId" column="d_op_milk_sample_quality_inspection_id"/>
            <result property="status" column="d_status"/>
            <result property="milkSampleQualityInspectionNumber" column="d_milk_sample_quality_inspection_number"/>
            <result property="destination" column="d_destination"/>
            <result property="entryTime" column="d_entry_time"/>
            <result property="sampler" column="d_sampler"/>
            <result property="samplingTime" column="d_sampling_time"/>
            <result property="tester" column="d_tester"/>
            <result property="testTime" column="d_test_time"/>
        </association>
    </resultMap>

    <select id="selectMilkSourcePlanMonitorList"
            parameterType="com.gmlimsqi.business.inspectionmilktankers.domain.OpInspectionMilkTankers"
            resultMap="OpMilkSourcePlanVOResult">
        select
        a.milk_source_plan_order_number as milkSourcePlanOrderNumber,
        a.license_plate_number as licensePlateNumber,
        a.driver_name as driverName,
        a.scheduling_date as schedulingDate,
        a.create_time as createTime,
        a.inspection_milk_tankers_id as a_inspection_milk_tankers_id,
        a.status as a_status,
        a.milk_source_plan_order_number as a_milk_source_plan_order_number,
        a.license_plate_number as a_license_plate_number,
        a.entry_time as a_entry_time,
        b.op_milk_filling_order_id as b_op_milk_filling_order_id,
        b.milk_filling_order_number as b_milk_filling_order_number,
        b.status as b_status,
        b.first_milking_time as b_first_milking_time,
        b.total_milk_capacity as b_total_milk_capacity,
        b.milk_filling_time as b_milk_filling_time,
        b.cweightno as b_cweightno,
        (CASE WHEN b.cweightno IS NOT NULL AND b.cweightno != '' THEN '1' ELSE '0' END) as b_is_associated_weighbridge,
        b.net_weight as b_weighbridge_bill_quantity,
        c.op_lead_seal_sheet_id as c_op_lead_seal_sheet_id,
        c.lead_seal_number as c_lead_seal_number,
        c.status as c_status,
        c.sealed_man as c_sealed_man,
        c.sealed_photo as c_sealed_photo,
        c.qf_number as c_qf_number,
        d.op_milk_sample_quality_inspection_id as d_op_milk_sample_quality_inspection_id,
        d.status as d_status,
        d.milk_sample_quality_inspection_number as d_milk_sample_quality_inspection_number,
        d.destination as d_destination,
        d.entry_time as d_entry_time,
        d.sampler as d_sampler,
        d.sampling_time as d_sampling_time,
        d.tester as d_tester,
        d.test_time as d_test_time
        from op_inspection_milk_tankers a
        left join op_milk_filling_order b on a.inspection_milk_tankers_id = b.inspection_milk_tankers_id and b.is_delete = '0'
        left join op_lead_seal_sheet c on a.inspection_milk_tankers_id = c.inspection_milk_tankers_id and c.is_delete = '0'
        left join op_milk_sample_quality_inspection d on a.inspection_milk_tankers_id = d.inspection_milk_tankers_id and d.is_delete = '0'
        <where>
            a.is_delete = '0'
            <if test="milkSourcePlanOrderNumber != null and milkSourcePlanOrderNumber != ''">
                and a.milk_source_plan_order_number like concat('%', #{milkSourcePlanOrderNumber}, '%')
            </if>
            <if test="licensePlateNumber != null and licensePlateNumber != ''">
                and a.license_plate_number like concat('%', #{licensePlateNumber}, '%')
            </if>
            <if test="status != null and status != ''">
                and a.status = #{status}
            </if>
        </where>
        order by a.create_time desc

    </select>
</mapper>
